<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="{{ site.keywords }}">
  {% include favicon.html %}

  <link rel="author" href="{{ site.googleplus_url}}" />
  <meta property="fb:app_id" content="{{ site.fb.app_id }}">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  {% if page.og_image %}
    <meta property="og:image" content="{{ site.url }}{% asset_path {{page.og_image}} %}">
  {% endif %}
  <meta property="og:image" content="{{ site.url }}{% asset_path picture-me.jpg %}">
  <meta property="og:image" content="{{ site.url }}{% asset_path og-image.png %}">
  {% if page.excerpt %}
    <meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}">
  {% else %}
    {% if page.og_description %}
      <meta property="og:description" content="{{ page.og_description }}">
    {% else %}
      <meta property="og:description" content="{{ site.og_description }}">
    {% endif %}
  {% endif %}

  {% css main.css %}
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
