{% img picture-eric.jpg class:'picture-of-eric' %}

<div class="toc">
  <h3 class="toc__title">Inhalt</h3>
  <ul class="toc__list">
    <li><a href="#preise">Preise</a></li>
    <li><a href="#zeitplan--schedule">Zeitplan / Schedule</a></li>
    <li><a href="#privatstunden">Privatstunden</a></li>
    <li><a href="#ber-eric">Über Eric</a></li>
    <li><a href="#das-sagen-andere-ber-das-erste-intensive">Andere übers Intensive</a></li>
    <li><a href="#anfahrt">Anfahrt</a></li>
    <li><a href="#mgliche-unterkunft">Unterkunft</a></li>
  </ul>
</div>

<dl class="event-details">
  <dt>Wer?</dt>
  <dd>All-Star <a target="_blank" href="http://nakedbasics.com">Eric B. Jacobson</a></dd>

  <dt>Wann?</dt>
  <dd>30.4. - 1.5.</dd>

  <dt>Was?</dt>
  <dd>~10 Stunden Intensive. Fokus: Technik, Connection, Musicality</dd>

  <dt>Wo?</dt>
  <dd><a target="_blank" href="http://www.tanzschule-stender.de">Tanzschule Heiko Stender</a> in <a target="_blank" href="https://www.google.de/maps/place/Tanzschule+Heiko+Stender/@53.6208351,9.9504184,17z/data=!3m1!4b1!4m2!3m1!1s0x47b1862fb5f1f543:0xa83ff328b629c54b">{% include icon-map.html %} Hamburg-Niendorf</a></dd>
</dl>
