/**
 * Icons
 */
.icon {

  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path.bg {
      fill: $grey-color;
    }
    path.fg {
      fill: #fff;
    }
  }
}

.icon--map {
  > svg {
    height: 22px;
  }
}
