<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% css main.css lazyload %}
    <div class="inner-wrap">

      {% include header.html %}

      <div class="page-content">
        <div class="wrapper">
          {{ content }}
        </div>
      </div>

      {% include footer.html %}
    </div>

    {% include google-analytics.html %}
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "{{ site.url }}",
      "logo": "{{ site.url }}{% asset_path og-image.png %}"
    }
    </script>
  </body>
</html>
