<h3>Ich in kürze</h3>

<p>Tanze seit 2000. Diverse Styles. 2011 zum WCS gekommen. Global PDIA, SLDM.. Social Dancer</p>

<p>2000 habe ich das Tanzen für mich entdeckt, kurze Zeit später hatte ich schon erste Lehrerfahrungen als Assistent sammeln dürfen um dann später auch die ersten Kurse, zu erst als Vertretung, dann komplett eigene Kurse eigenständig zu unterrichten. Ich selber tanze und unterrichte die üblichen 10 Tänze, sowie Disco Fox, Salsa, Bachata, Kizomba, Zouk, Lindy Hop und meine große Leidenschaft den West Coast Swing.
</p>
