<h3>Mehr WCS in Hamburg:</h3>

<ul class="more-links">
  <li>
    <a href="http://westcoastswing-hamburg.net" target="_blank">WestCoastSwing-Hamburg.net</a>
    <span class="more-links-info">Hier gibt's noch mehr Termine.</span>
  </li>
  <li>
    <a href="http://www.julianundjuliane.de" target="_blank">Julian &amp; Juliane</a>
    <span class="more-links-info">2 klasse WCS Tanztrainer in Hamburg.</span></li>
  <li>
    <a href="http://www.wcs-wagner.de" target="_blank">Tommi &amp; Melli</a>
    <span class="more-links-info">WCS Tanztrainer in Hamburg</span>
  </li>
  <li>
    <a href="https://www.facebook.com/HanseaticSwingTeam/" target="_blank">Hanseatic Swing Team</a>
    <span class="more-links-info">Sie wollen den WCS fördern.</span>
  </li>
</ul>
