<h3>Mehr WCS in Hamburg:</h3>

<ul class="more-links">
  <li>
    <a href="http://www.heutetanzen.de/tanze/West-Coast-Swing/in/Hamburg" target="_blank">West Coast Swing auf HeuteTanzen.de</a>
    <span class="more-links-info">Alle West Coast Swing und andere Tanzevents auf einem Blick.</span>
  </li>
  <li>
    <a href="http://westcoastswing-hamburg.net" target="_blank">WestCoastSwing-Hamburg.net</a>
    <span class="more-links-info">Hier die Termine auch und andere Infos.</span>
  </li>
  <li>
    <a href="http://www.julianundjuliane.de" target="_blank">Julian &amp; Juliane</a>
    <span class="more-links-info">2 klasse WCS Tanztrainer in Hamburg.</span></li>
  <li>
    <a href="http://www.wcs-wagner.de" target="_blank" rel="nofollow">Tommi &amp; Melli</a>
    <span class="more-links-info">WCS Tanztrainer in Hamburg</span>
  </li>
</ul>
