<h3>Mehr WCS in Deutschland:</h3>

<ul class="more-links">
  <li>
    <a href="https://www.marcheldt.com/" target="_blank">Marc Heldt</a
    ><span class="more-links-info">Tanzlehrer und WCS Academy Ausbilder.</span>
  </li>
  <li>
    <a
      href="https://www.tanzschule-gutmann.de/tanzkurse/west-coast-swing/"
      target="_blank"
      >Tanzschule Gutmann</a
    ><span class="more-links-info">West Coast Swing in Freiburg.</span>
  </li>
  <li>
    <a
      href="https://hepcatclub.com/augsburg/west-coast-swing/#westcoastswing"
      target="_blank"
      >Hep Cat Club</a
    ><span class="more-links-info">West Coast Swing in Augsburg.</span>
  </li>
  <li>
    <a
      href="https://tanzen-in-kiel.de/fuer-erwachsene/west-coast-swing/"
      target="_blank"
      >Tanzen in Kiel</a
    ><span class="more-links-info"
      >Hier lernt man West Coast Swing in Kiel.</span
    >
  </li>
</ul>
