<h3>Einige Erfolge</h3>

<p>Ich bin kein Turniertänzer, und mag das große Gerummel nicht. Dennoch tanz ich ab und an bei Competitions mit. Hier sind einige der Erfolge:</p>

<ul>
  <li>1. Platz - Fun Jack&amp;Jill; Adam &amp; Rita November 2015; Tanzschule Stender in Hamburg</li>
  <li>5. Platz - Fun Jack&amp;Jill; Adam &amp; Rita September 2014; Tanzschule Stender in Hamburg</li>
  <li>1. Platz - Nick&amp;Laus 2014; Tanzschule-Dresen in Düsseldorf (Jack&amp;Jill, open class)</li>
  <li>4. Platz - Norddeutsche Meisterschaft 2014 Tanzschule Isabel Edvardson in Hamburg (Strictly)</li>
  <li>4. Platz - Norddeutsche Meisterschaft 2014 Tanzschule Isabel Edvardson in Hamburg (Jack&amp;Jill, level 2)</li>
</ul>
